
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
   
}

.pad-top {
    padding-top:40px;
}

.btn-login-color {
    color: #fff;
    background-color: #8daecd;
    border-color: #a3c6e5;
}

.btn-registrate-color {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.white {
    background-color: #ffffff;
}

.black {
    color: #000000;
}