
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
}

.pad-top {
    padding-top:40px;
}

.btn-login-color {
    color: #fff;
    background-color: #8daecd;
    border-color: #a3c6e5;
}

.btn-registrate-color {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.white {
    background-color: #ffffff;
}

.black {
    color: #000000;
}

#map_canvas {
    width: 70%;
    height: 550px;
    background-color: #CCC;
}

.map {
    float: right;
}

.routes {
    float: left;
    width: 30%;
    padding: 0;
}

.main-panel {
    margin-top: 2%;
    margin-bottom: 2%;
}

img.slide {
    margin-bottom: 2%;
}

h1 {
    font-size: 56px;
}

.getawayfromme {
    margin-left: 5px;
}

i.lock {
    padding-left: 3px;
    padding-right: 2px;
}

i.tag {
    padding-left: 1px;
    padding-right: 2px;
}

i.name {
    padding-right: 1px;
}

i.email {
    padding-right: 1px;
}
